@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --font: "Montserrat", sans-serif;
  --white: #ffffff;
  --darkBackground: #1d1d1f;
  --darkFontColor: #fbfbfb;
  --borderColor: #ff7b00;
}

