@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --font: "Ubuntu", sans-serif;
  --white: #ffffff;
  --darkBackground: #1d1d1f;
  --darkFontColor: #fbfbfb;
  --borderColor: #ff7b00;
}
